*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.DS_Store
*.egg-info/
*.vscode/
*.idea/
*.coverage
*.mypy_cache/
*.pytest_cache/
*.tox/
*.dist-info/
*.egg
env
*.venv/
# fake-images/
media/

.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.env
Dockerfile
docker-compose.yml
README.md
.coverage
htmlcov/
.pytest_cache/
*.sqlite3
.seeding_done_development
.seeding_done_production

